
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

</div>
<fieldset class="layui-elem-field">
    <legend>欢迎登陆! Admin</legend>
    <div class="layui-field-box">
        当前时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
    </div>
</fieldset>
